//settings
$maxWidthContainer: 1200;
$maxWidth: 1920;
$fontFamily: "Montserrat Alternates", sans-serif;
$fontSize: 16;
$colorDefault: #000;
$colorBgDefault: #fff;
$accentColorDefault: #285cc4;

//colors
